body{
    background-color: rgb(208, 207, 207);
}
.button{
    height: 4vw;
    width: 6vw;
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;
    font-size: larger;
    font-weight: 300;
  
}
.calculatar{
    display:inline-block; 
    ;justify-content: center; 
    background-color: rgb(120, 117, 116); 
    border-radius: 1vw;
 padding: 1vw;
}
.main{
    display: flex;
    justify-content: center; 
     align-items: center;
      height: 50vw;
}
.input{
    width: 96.5%;
     border: 0.3vw solid rgb(105, 103, 103);
     height: 5vw; 
     margin-bottom: 1vw; 
     border-radius: 1vw;
      font-size:2vw;
}
